<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="formGroup" (ngSubmit)="storeData()">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ modaName }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="exampleInputName" formControlName="name" [value]="student.name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputNim" class="form-label">NIM</label>
                    <input type="text" class="form-control" id="exampleInputNim" formControlName="nim" [value]="student.nim">
                </div>
                <div class="mb-3">
                    <label for="exampleInputProdi" class="form-label">Prodi</label>
                    <input type="text" class="form-control" id="exampleInputProdi" formControlName="prodi" [value]="student.prodi">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>